.page-content {
  min-height: calc(100vh - 50px);
  padding-bottom: 78px;
}

.our-products {
  margin-top: 124px;
  margin-bottom: 140px;
}

.section-title {
  margin-bottom: 48px;
}

.productList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  grid-gap: 0;
  gap: 24px;
  row-gap: 30px;
}

.our-products .tab-menus .nav {
  gap: 40px;
}

.links .link {
  width: 80px;
  color: var(--bs-black);
  border-bottom: 1px solid var(--bs-neutral-300);
  text-align: center;
}

.links .link.active {
  color: var(--bs-primary-500);
  border-bottom: 1px solid var(--bs-primary-500);
}

.category-wise-products {
  gap: 80px;
  margin-top: 120px;
}

.shoppingBtn .btn-secondary,
.qtyContainer .btn-secondary {
  background: var(--bs-neutral-200);
  color: var(--bs-black);
  padding: 0 11px !important;
}
.shoppingBtn .btn-secondary:focus,
.qtyContainer .btn-secondary:focus {
  background: var(--bs-neutral-200) !important;
  color: var(--bs-black) !important;
}
.cartItem .qtyContainer {
  width: 134px;
  height: 40px;
  display: flex;
  background: var(--bs-neutral-200);
  border-radius: 4px;
}
.cartContainer .cartRow .form-control.qty {
  padding: 6px 7px;
}
.qtyContainer input {
  width: calc(100% - 80px);
  border: 0;
  border-radius: 0;
  font-size: 16px;
  color: var(--bs-neutral-900);
  padding: 4px 10px;
  text-align: center;
  background: var(--bs-white);
}
.cartContainer .cartRow {
  margin: 0 -35px;
}
.cartContainer .cartRow .col-8,
.cartContainer .cartRow .col-4 {
  padding: 0 35px;
}
.cartItem {
  border-bottom: 1px solid var(--bs-neutral-200);
  padding: 14px 0 14px 0;
}
.cartItem .itemDetails {
  padding-left: 40px;
}
.cartItem .delAction {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--bs-neutral-200);
  cursor: pointer;
}
.cartItem .itemName .img {
  width: 64px;
  height: 64px;
}

.cartItem-summary {
  width: 50%;
  margin-left: auto;
}
.cartItem-summary .row:last-child {
  border-top: 1px solid var(--bs-neutral-200);
  padding-top: 14px;
}
.cartItem-summary .row {
  margin: 0;
}

.tab-menus {
  min-width: 100%;
  max-width: 100%;
  /* width: 100%; */
  overflow: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.tab-menus::-webkit-scrollbar {
  height: 0;
  width: 0;
}
.shop-page .tab-menus .nav {
  gap: 30px;
  flex-wrap: nowrap;
}
.product-specification ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.product-specification ul li::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--bs-neutral-800);
  display: inline-block;
}
.feature-category {
  width: 980px;
  margin: 80px auto;
}
.feature-category .row {
  margin: 0 -12px;
}

.feature-category .col-2 {
  padding: 0 12px;
}

.feature-category .col-2:last-child {
  margin: 0;
}

.feature-category .card {
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
}
.feature-category .card .card-body {
  padding: 14px 0 24px 0;
}

.shop-page {
  margin-top: 140px;
}

.about-us {
  margin-top: 140px;
}

.css-1u9des2-indicatorSeparator {
  display: none;
}
.css-1dimb5e-singleValue {
  color: var(--bs-neutral-500);
  font-size: 14px;
}
.css-13cymwt-control {
  border-color: var(--bs-neutral-300) !important;
}
.css-13cymwt-control:focus {
  border-color: black !important;
}
.css-qbdosj-Input {
  color: var(--bs-neutral-500);
  font-size: 14px;
}
.css-1jqq78o-placeholder {
  color: var(--bs-neutral-500);
  font-size: 14px;
}
.css-1nmdiq5-menu {
  font-size: 14px;
}

.css-t3ipsp-control:hover {
  border-color: black !important;
  box-shadow: none;
}
.css-t3ipsp-control:hover {
  border-color: black !important;
  box-shadow: none;
}
.card {
  cursor: pointer;
  /* background: var(--bs-white); */
  background: var(--bs-neutral-50);
  box-shadow: none;
  box-shadow: none;
  border-radius: 0.625rem;
  position: relative;
}
.product .card {
  padding: 1rem;
  border-radius: 8px;
  border: 0 !important;
}

.product .card .card-body {
  padding: 1rem 0 0 0;
}

.invoice-header {
  display: none;
}

.shop-page .products-img img {
  width: 258px !important;
  height: 258px !important;
}
/* link button */
.btn-link.cancel {
  color: var(--bs-danger-500);
  text-decoration: none;
}
.btn-link.cancel:hover {
  color: var(--bs-danger-600);
}
.btn-link.cancel:focus {
  color: var(--bs-danger-600) !important;
  background: none !important;
}
/* link button */

.galleryImages .subImage img {
  border-radius: 4px;
}

@media only screen and (max-width: 1366px) {
  .container-fluid {
    width: 100%;
    margin: 0;
    padding: 0 30px;
  }
}

@media only screen and (max-width: 1280px) {
  .element_3 {
    top: 40px;
    right: -48px;
  }
  .shop-page .products-img img {
    width: 237px !important;
    height: 237px !important;
  }
  .products-img img {
    width: 254px !important;
    height: 254px !important;
  }
  .featureImage img {
    width: 460px;
    height: 460px;
  }
}

@media only screen and (max-width: 1024px) {
  .cartContainer .cartRow {
    margin: 0;
    flex-direction: column;
    row-gap: 40px;
  }
  .cartContainer .cartRow .col-8,
  .cartContainer .cartRow .col-4 {
    padding: 0;
    width: 100%;
  }
  .shop-page .products-img img {
    width: 288px !important;
    height: 288px !important;
  }
  .products-img img {
    width: 274px !important;
    height: 274px !important;
  }

  .featureImage img {
    width: 354px;
    height: 354px;
  }
}
@media only screen and (max-width: 991px) {
  .shop-page .products-img img {
    width: 274px !important;
    height: 274px !important;
  }
  .products-img img {
    width: 264px !important;
    height: 264px !important;
  }
}
@media only screen and (max-width: 800px) {
  .products-img img {
    width: 336px !important;
    height: 336px !important;
  }
  .shop-page .products-img img {
    width: 336px !important;
    height: 336px !important;
  }
  .filter-area.w-25 {
    display: none;
  }
  .w-75 {
    width: 100% !important;
  }
  .product-details .row {
    flex-direction: column;
    gap: 40px;
  }
  .product-details .row .col-5,
  .product-details .row .col-7 {
    width: 100%;
    padding: 0 !important;
  }
}
@media only screen and (max-width: 768px) {
  .products-img img {
    width: 320px !important;
    height: 320px !important;
  }
  .shop-page .products-img img {
    width: 320px !important;
    height: 320px !important;
  }
}

@media only screen and (max-width: 640px) {
  .cartItem {
    flex-direction: column;
    position: relative;
    margin: 0 !important;
  }
  .cartItem .itemName .name {
    padding-right: 100px;
  }
  .cartItem .itemName .name p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .cartItem .itemDetails .itemPrice {
    position: absolute;
    right: 0;
    top: 14px;
  }
  .cartItem .itemDetails {
    padding-left: 40px;
    justify-content: end !important;
    align-items: end !important;
    gap: 32px;
  }
  .cartItem-summary {
    width: 100%;
  }
  .cartItem-summary .row .col-4,
  .cartItem-summary .row .col-8 {
    width: auto;
  }
  .cartItem-summary .row {
    justify-content: space-between;
  }
  .products-img img {
    width: 256px !important;
    height: 256px !important;
  }
  .shop-page .products-img img {
    width: 256px !important;
    height: 256px !important;
  }
  .settingContainer .tab-menus {
    flex-direction: column;
  }
  .settingContainer .tab-menus .tab-menus-items {
    width: 100% !important;
  }
  .settingContainer .tab-content {
    width: 100% !important;
  }
}

@media only screen and (max-width: 540px) {
  .shop-page {
    margin-top: 40px;
  }
  .category-wise-products {
    margin-top: 48px;
  }
  .cartContainer {
    margin-top: 24px;
  }
  .cartItem .itemDetails {
    margin-top: 10px;
  }
  .productList {
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    grid-gap: 20px;
    gap: 20px;
    grid-row-gap: 20px;
    row-gap: 20px;
  }
  .products-img img {
    width: 208px !important;
    height: 208px !important;
  }
  .shop-page .products-img img {
    width: 208px !important;
    height: 208px !important;
  }
  .productDetails {
    margin-top: 24px;
  }
}

@media only screen and (max-width: 480px) {
  .productList {
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  }
  .products-img img {
    width: 407px !important;
    height: 407px !important;
  }
  .shop-page .products-img img {
    width: 407px !important;
    height: 407px !important;
  }
}

@media only screen and (max-width: 425px) {
  .products-img img {
    width: 354px !important;
    height: 354px !important;
  }
  .shop-page .products-img img {
    width: 354px !important;
    height: 354px !important;
  }
}

@media only screen and (max-width: 414px) {
  .products-img img {
    width: 340px !important;
    height: 340px !important;
  }
  .shop-page .products-img img {
    width: 340px !important;
    height: 340px !important;
  }
}

@media only screen and (max-width: 393px) {
  .products-img img {
    width: 320px !important;
    height: 320px !important;
  }
  .shop-page .products-img img {
    width: 320px !important;
    height: 320px !important;
  }
}

@media only screen and (max-width: 375px) {
  .products-img img {
    width: 304px !important;
    height: 304px !important;
  }
  .shop-page .products-img img {
    width: 304px !important;
    height: 304px !important;
  }
}

@media only screen and (max-width: 375px) {
  .products-img img {
    width: 288px !important;
    height: 288px !important;
  }
  .shop-page .products-img img {
    width: 288px !important;
    height: 288px !important;
  }

  .featureImage img {
    width: 316px;
    height: 316px;
  }
}
