/* .dropdown-toggle {
  background: none;
  color: none;
} */

.dropdown-toggle,
.dropdown-toggle:hover,
.dropdown-toggle:focus,
.dropdown-toggle:active {
  background: none !important;
  color: none !important;
}
.dropdown-toggle::after {
  display: none;
}
.card-action {
  position: absolute;
  top: 15px;
  right: 18px;
}

.dropdown-menu a,
.dropdown-menu a:focus {
  background: none !important;
  color: var(--bs-black) !important;
  font-size: 14px;
}
.dropdown-menu.show {
  inset: 0px 0 auto auto !important;
}
