/* .accordion-item {
  background: transparent !important;
  border: none !important;
} */

.accordion-item {
  background: transparent !important;
  border: none !important;
}
.accordion-button:not(.collapsed) {
  color: var(--bs-neutral-900);
  background: transparent !important;
}

.accordion-button::after {
  content: "";
  width: 9px;
  height: 9px;
  border-right: 2px solid var(--bs-neutral-900);
  border-bottom: 2px solid var(--bs-neutral-900);
  transform: rotate(45deg);
  transition: 0.2s ease-in-out;
  background-image: none !important;
  background-size: 0;
}
.accordion-button:not(.collapsed)::after {
  transform: rotate(-136deg);
}
.accordion-button {
  padding: 0 0 10px 0;
  border-bottom: 1px solid var(--bs-neutral-300);
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 1px;
  font-size: 16px;
  font-weight: 600;
  height: fit-content;
  border-radius: 0;
}
.accordion-button:focus {
  border-bottom: 1px solid var(--bs-neutral-300);
  border-radius: 0;
}
.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.accordion-body {
  padding: 0;
  margin-top: 18px;
}
